# mongodb
spring:
  data:
    mongodb:
      uri: mongodb://db:27017/gimlee?maxPoolSize=10
      repositories:
        type: auto
  # email config
  mail:
    properties:
      from: noreply@gimlee.com
      reply-to: contact@gimlee.com
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

gimlee:
  # gimlee-auth properties
  auth:
    rest:
      jwt:
        key: "dummy" # JWT tokens will be signed with this key

  # gimlee-media-store properties
  media:
    store:
      storage-type: S3

  # gimlee-payments properties
  payments:
    pirate-chain:
      client:
        rpc-url: http://wallet:45453

# Metrics related configurations
management:
  endpoint:
    metrics:
    # access property is deprecated, consider using role-based security
    # access: read_only # Commented out as potentially deprecated
  endpoints:
    web:
      exposure:
        include: info,health,prometheus
  prometheus:
    metrics:
      export:
        enabled: true