server:
  port: 12060
  servlet:
    context-path: /api
    encoding:
      charset: UTF-8
  jetty:
    max-threads: 40
    min-threads: 40
    max-http-form-post-size: 15MB

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}

spring:
  servlet:
    multipart:
      max-file-size: 15MB
      max-request-size: 51MB
  messages:
    basename: i18n/messages,i18n/common/messages,i18n/auth/messages,i18n/purchases/messages,i18n/ads/messages,i18n/user/messages,i18n/payments/messages,i18n/location/messages,i18n/media/messages,i18n/chat/messages
    encoding: UTF-8

gimlee:
  scheduling:
    pool-size: 5
  # gimlee-auth properties
  auth:
    jwt:
      enabled: true
    rest:
      jwt:
        issuer: gimlee
      unsecured-paths: >
        /swagger-ui.html,
        /swagger-ui/**,
        /actuator/**,
        /v3/api-docs,
        /v3/api-docs/**,
        /ads/,
        /ads/**,
        /spaces/**,
        /auth/register,
        /auth/register/**,
        /auth/login,
        /payments/currency/list,
        /session/init,
        /media,
        /playground/**

  # gimlee-user properties
  user:
    presence:
      flush-interval-ms: 60000
      online-threshold-minutes: 5
    preferences:
      default-currency: USD
      currency-mappings:
        pl-PL: PLN

  # gimlee-ads properties
  ads:
    discovery:
      other-ads-count: 5
    category:
      sync:
        enabled: true
        cron: "0 0 0 1 * ?"
        lock:
          at-most: PT1H
          at-least: PT5M
      grounding:
        cron: "0 0 0 * * MON"
        lock:
          at-least: PT5M
    gpt:
      url-template: https://www.google.com/basepages/producttype/taxonomy-with-ids.%s.txt
      languages: en-US,pl-PL

  # gimlee-chat properties
  chat:
    history:
      default-limit: 20
    sse:
      buffer-ms: 200
      heartbeat-ms: 30000
    persistence:
      # batch-ms: 1000
      # batch-size: 100

  # gimlee-payments properties
  payments:
    pirate-chain:
      monitor-threads: 1
      client:
        max-connections: 2
        response-timeout-millis: 1000
        connection-request-timeout-millis: 300
    ycash:
      monitor-threads: 1
      client:
        max-connections: 2
        response-timeout-millis: 1000
        connection-request-timeout-millis: 300
    exchange:
      update-interval-ms: 60000
      cleanup:
        cron: "0 0 1 * * ?"
        retention-days: 365
        lock:
          at-most: PT1H
          at-least: PT5M
      bitmart:
        base-url: https://api-cloud.bitmart.com
        volatility-threshold: 0.05
        volatility-klines-limit: 10
      open-exchange-rates:
        base-url: https://openexchangerates.org/api
        update-interval-ms: 21600000