server:
  port: 12060
  servlet:
    context-path: /api
    encoding:
      charset: UTF-8
  jetty:
    max-threads: 40
    min-threads: 40
    max-http-form-post-size: 15MB

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}

spring:
  servlet:
    multipart:
      max-file-size: 15MB
      max-request-size: 51MB
  messages:
    basename: i18n/messages,i18n/common/messages,i18n/auth/messages,i18n/purchases/messages,i18n/ads/messages,i18n/user/messages,i18n/payments/messages,i18n/location/messages,i18n/media/messages
    encoding: UTF-8

gimlee:
  scheduling:
    pool-size: 5
  # gimlee-auth properties
  auth:
    jwt:
      enabled: true
    rest:
      jwt:
        issuer: gimlee
      unsecured-paths: >
        /swagger-ui.html,
        /swagger-ui/**,
        /actuator/**,
        /v3/api-docs,
        /v3/api-docs/**,
        /ads/,
        /ads/**,
        /auth/register,
        /auth/register/**,
        /auth/login,
        /media,
        /playground/**
  # gimlee-payments properties
  payments:
    pirate-chain:
      monitor-threads: 1
      client:
        max-connections: 2
        response-timeout-millis: 1000
        connection-request-timeout-millis: 300