- name: Deploy Gimlee API
  hosts: app
  become: true
  vars:
    # We default to 'latest' but will override this on the command line
    image_tag: "master"
    mongodb_uri: "mongodb://{{ hostvars['db1']['ansible_host'] }}:27017/gimlee"
    piratechain_rpc: "http://{{ hostvars['wallet1']['ansible_host'] }}:45453"
  tasks:
    - name: Run Gimlee API container from pre-built image
      community.docker.docker_container:
        name: gimlee-api
        # This tells Ansible which image to run, e.g., ghcr.io/your-user/gimlee-backend:master
        image: "ghcr.io/gimlee-com/gimlee-backend:{{ image_tag }}"
        # This is important! It ensures the server always pulls the newest version of the image tag.
        pull: true
        restart_policy: always
        env:
          SPRING_PROFILES_ACTIVE: test
          SPRING_DATA_MONGODB_URI: "{{ mongodb_uri }}"
          GIMLEE_PAYMENTS_PIRATECHAIN_CLIENT_RPC_URL: "{{ piratechain_rpc }}"
          SPRING_MAIL_PASSWORD: "{{ mail_password }}"
          GIMLEE_AUTH_REST_JWT_KEY: "{{ jwt_key }}"
          GIMLEE_MEDIA_STORE_STORAGE_TYPE: "S3"
          GIMLEE_MEDIA_STORE_S3_ENDPOINT: "{{ s3_endpoint }}"
          GIMLEE_MEDIA_STORE_S3_REGION: "{{ s3_region }}"
          GIMLEE_MEDIA_STORE_S3_BUCKET: "{{ s3_bucket_name }}"
          GIMLEE_MEDIA_STORE_S3_ACCESS_KEY: "{{ s3_access_key }}"
          GIMLEE_MEDIA_STORE_S3_SECRET_KEY: "{{ s3_secret_key }}"
        labels:
          traefik.enable: "true"
          traefik.http.routers.gimlee.rule: "Host(`{{ lookup('env', 'DOMAIN') }}`)"
          traefik.http.routers.gimlee.entrypoints: "websecure"
          traefik.http.routers.gimlee.tls.certresolver: "myresolver"
          traefik.http.services.gimlee.loadbalancer.server.port: "12060"
