---
- name: Deploy Database
  hosts: db
  become: true
  tasks:
    - name: Create data directory
      file:
        path: /opt/mongodb/data
        state: directory
        mode: '0755'

    - name: Run MongoDB container
      community.docker.docker_container:
        name: mongodb
        image: mongo:8.0
        restart_policy: always
        ports:
          - "27017:27017"
        volumes:
          - /opt/mongodb/data:/data/db

    - name: Wait for MongoDB to be ready
      wait_for:
        port: 27017
        timeout: 30

    - name: Create Flyway migrations directory
      file:
        path: "/opt/flyway/{{ item }}/migrations"
        state: directory
        mode: '0755'
      loop:
        - gimlee-ads

    - name: Copy Flyway configuration
      copy:
        src: "../../../{{ item }}/flyway.conf"
        dest: "/opt/flyway/{{ item }}/flyway.conf"
        mode: '0644'
      loop:
        - gimlee-ads

    - name: Copy Flyway migrations
      copy:
        src: "../../../{{ item }}/src/main/resources/{{ item }}/db/migration/mongo/"
        dest: "/opt/flyway/{{ item }}/migrations/"
        mode: '0644'
      loop:
        - gimlee-ads

    - name: Run Flyway migrations
      command: >
        flyway migrate
        -configFiles=/opt/flyway/{{ item }}/flyway.conf
        -locations=filesystem:/opt/flyway/{{ item }}/migrations
        -url=jdbc:mongodb://localhost:27017/gimlee
        -baselineOnMigrate=true
      loop:
        - gimlee-ads

- name: Deploy PirateChain Wallet
  hosts: wallet
  become: true
  vars:
    # This dynamically gets the IP of your app server from the inventory.
    app_server_ip: "{{ hostvars[groups['app'][0]]['ansible_host'] }}"
  tasks:
    - name: Create data directory
      file:
        path: /opt/piratechain/data
        state: directory
        mode: '0755'

    - name: Create PirateChain config file
      copy:
        dest: /opt/piratechain/PIRATE.conf
        content: |
          server=1
          txindex=1
          rpcuser={{ piratechain_user }}
          rpcpassword={{ piratechain_password }}
          rpcport=45453
          rpcbind=0.0.0.0
          rpcallowip=0.0.0.0/0
        mode: '0600'

    - name: Copy Dockerfile for PirateChain
      copy:
        src: ../../../wallets/pirate-chain/Dockerfile
        dest: /opt/piratechain/Dockerfile

    - name: Build PirateChain image from Dockerfile
      community.docker.docker_image:
        name: piratechain:latest
        build:
          path: /opt/piratechain
        source: build

    - name: Run PirateChain container from built image
      community.docker.docker_container:
        name: piratechain
        image: piratechain:latest
        command: ./pirated -printtoconsole
        restart_policy: always
        ports:
          - "45453:45453"
        volumes:
          - /opt/piratechain/data:/root/.komodo/PIRATE
          - /opt/piratechain/PIRATE.conf:/root/.komodo/PIRATE/PIRATE.conf:ro
