- name: Deploy Gimlee API
  hosts: app
  become: true
  vars:
    # We default to 'master' but will override this on the command line
    image_tag: "master"
    # Target environment profile (e.g., test, prod)
    spring_profile: "test"
    mongodb_uri: "mongodb://{{ hostvars['db1']['ansible_host'] }}:27017/gimlee"
    piratechain_rpc: "http://{{ hostvars['wallet1']['ansible_host'] }}:45453"
  tasks:
    - name: Run Gimlee API container from pre-built image
      community.docker.docker_container:
        name: gimlee-api
        # This tells Ansible which image to run, e.g., ghcr.io/your-user/gimlee-backend:master
        image: "ghcr.io/gimlee-com/gimlee-backend:{{ image_tag }}"
        # This is important! It ensures the server always pulls the newest version of the image tag.
        pull: true
        restart_policy: always
        env:
          SPRING_PROFILES_ACTIVE: "{{ spring_profile }}"
          SPRING_DATA_MONGODB_URI: "{{ mongodb_uri }}"
          GIMLEE_PAYMENTS_PIRATE_CHAIN_CLIENT_RPC_URL: "{{ piratechain_rpc }}"
          GIMLEE_PAYMENTS_PIRATE_CHAIN_CLIENT_USER: "{{ piratechain_user }}"
          GIMLEE_PAYMENTS_PIRATE_CHAIN_CLIENT_PASSWORD: "{{ piratechain_password }}"
          SPRING_MAIL_HOST: "{{ mail_host }}"
          SPRING_MAIL_PORT: "{{ mail_port }}"
          SPRING_MAIL_USERNAME: "{{ mail_username }}"
          SPRING_MAIL_PASSWORD: "{{ mail_password }}"
          GIMLEE_AUTH_REST_JWT_KEY: "{{ jwt_key }}"
          GIMLEE_MEDIA_STORE_STORAGE_TYPE: "S3"
          GIMLEE_MEDIA_STORE_S3_ENDPOINT: "{{ s3_endpoint }}"
          GIMLEE_MEDIA_STORE_S3_REGION: "{{ s3_region }}"
          GIMLEE_MEDIA_STORE_S3_BUCKET: "{{ s3_bucket_name }}"
          GIMLEE_MEDIA_STORE_S3_ACCESS_KEY: "{{ s3_access_key }}"
          GIMLEE_MEDIA_STORE_S3_SECRET_KEY: "{{ s3_secret_key }}"
        labels:
          traefik.enable: "true"
          # Create the main router for HTTPS on port 443 (websecure)
          traefik.http.routers.gimlee-secure.rule: "Host(`{{ domain }}`)"
          traefik.http.routers.gimlee-secure.entrypoints: "websecure"
          traefik.http.routers.gimlee-secure.tls: "true"
          traefik.http.routers.gimlee-secure.tls.certresolver: "myresolver"
          traefik.http.routers.gimlee-secure.service: "gimlee-service"

          # Define the service that points to the application port
          traefik.http.services.gimlee-service.loadbalancer.server.port: "12060"

          # CORS Middleware definition
          traefik.http.middlewares.gimlee-cors.headers.accesscontrolallowmethods: "GET,OPTIONS,PUT,POST,DELETE,PATCH"
          traefik.http.middlewares.gimlee-cors.headers.accesscontrolalloworiginlist: "{{ cors_allowed_origins }}"
          traefik.http.middlewares.gimlee-cors.headers.accesscontrolallowheaders: "Content-Type,Authorization"
          traefik.http.middlewares.gimlee-cors.headers.accesscontrolmaxage: "100"

          # Attach middleware to the router
          traefik.http.routers.gimlee-secure.middlewares: "gimlee-cors"

