---
- name: Setup Docker on all nodes
  hosts: all
  become: true
  tasks:
    - name: Install dependencies
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
        state: present
        update_cache: true

    - name: Add Docker GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker repository
      apt_repository:
        repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
        state: present

    - name: Install Docker Engine
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-compose-plugin
        state: present
        update_cache: true

    - name: Ensure Docker is started
      service:
        name: docker
        state: started
        enabled: true

    - name: Install Python dependencies for Docker modules
      apt:
        name: python3-pip
        state: present
        update_cache: true

    - name: Install Docker Python module
      pip:
        name: 'docker>=7.1.0'
        state: present

    - name: Set Flyway version
      set_fact:
        flyway_version: "10.12.0"

    - name: Download Flyway
      get_url:
        url: "https://download.red-gate.com/maven/release/com/redgate/flyway/flyway-commandline/{{ flyway_version }}/flyway-commandline-{{ flyway_version }}-linux-x64.tar.gz"
        dest: /tmp/flyway.tar.gz

    - name: Create Flyway directory
      file:
        path: /opt/flyway-cli
        state: directory
        mode: '0755'

    - name: Extract Flyway
      unarchive:
        src: /tmp/flyway.tar.gz
        dest: /opt/flyway-cli
        remote_src: yes
        extra_opts: [--strip-components=1]

    - name: Symlink Flyway
      file:
        src: /opt/flyway-cli/flyway
        dest: /usr/local/bin/flyway
        state: link
