version: '3'
services:
  mongodb:
    image: mongo:8.0
    command: mongod --auth
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
    - "27017:27017"
