server:
  port: 8888
  servlet:
    context-path: /api
    encoding:
      charset: UTF-8

spring:
  main:
    allow-bean-definition-overriding: true
  messages:
    basename: i18n/messages,i18n/common/messages,i18n/auth/messages,i18n/purchases/messages,i18n/ads/messages,i18n/user/messages,i18n/payments/messages,i18n/location/messages,i18n/media/messages
    encoding: UTF-8
  data:
    mongodb:
      uri: mongodb://localhost:27017/gimlee?maxPoolSize=10
      repositories:
        type: auto
  mail:
    host: dummydummy.com
    port: 587
    username: dummy@dummy.com
    password: dummy
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
      from: dummy@dummy.com
      reply-to: dummy@dummy.com

gimlee:
  user:
    preferences:
      default-currency: USD
      currency-mappings:
        pl-PL: PLN
  ads:
    max-price:
      amount: 10000
      currency: USD
    category:
      sync:
        enabled: false
  # gimlee-auth properties
  auth:
    jwt:
      enabled: true
    csrf:
      validation:
        enabled: true
    rest:
      unsecured-paths:
        - /swagger-ui.html
        - /swagger-ui/**
        - /actuator/**
        - /v3/api-docs
        - /v3/api-docs/**
        - /api/v3/api-docs
        - /api/v3/api-docs/**
        - /ads/**
        - /auth/register
        - /auth/register/**
        - /auth/login
        - /session/init
        - /media
        - /playground/**
      jwt:
        issuer: gimlee
        key: password

  # gimlee-media-store properties
  media:
    store:
      directory: ./target/tempmediastore

  # gimlee-payments properties
  payments:
    pirate-chain:
      client:
        rpc-url: http://127.0.0.1
        user: dummy
        password: dummy
    ycash:
      client:
        rpc-url: http://127.0.0.1
        user: dummy
        password: dummy
    
    timeout-hours: 1
    volatility:
      downside-threshold: 0.05
      window-seconds: 600
      cooldown-seconds: 1800
      stabilization-checks: 3
      stale-threshold-seconds: 3600
    exchange:
      update-interval-ms: 60000
